$colorTitle: #006CB7;

body{background:rgba(245,245,245,1);}
.bq-title{
    height:0.88rem;
    line-height:0.88rem;
    font-size:0.36rem;
    color:rgba(255,255,255,1);
    background: $colorTitle;
    text-align: center;
}
.bq-box-style{
    background: #fff;
    ul{
        li{
            display: flex;
            display: -webkit-flex;
            padding: 0.3rem;
            .bq-img{
                width: 0.42rem;
                img{
                    width: 0.42rem;
                    display: block;
                }
            }
            .bq-content{
                margin-left: 0.3rem;
                .bq-content-one{
                    font-size:0.34rem;
                    color:rgba(61,61,61,1);
                }
                .bq-content-two{
                    font-size:0.28rem;
                    color:rgba(153,153,153,1);
                    margin-top: 0.2rem;
                    overflow: hidden;
                    text-overflow:ellipsis;
                    white-space: nowrap;
                    width: 6.18rem;
                }
            }
        }
    }
}
.bq-list-box{
    background-color: #fff;
    margin-bottom: 0.2rem;
    .bq-title{
        padding: 0.23rem 0.3rem;
        box-sizing: border-box;
        height:0.88rem;
        background:rgba(0,173,220,1);
        display: flex;
        display: -webkit-flex;
        .bq-title-img{
            width: 0.42rem;
            height: 0.42rem;
            img{
                width: 0.42rem;
                display: block;
            }
        }
        .bq-title-font{
            font-size:0.34rem;
            font-family:PingFangSC-Regular;
            color:rgba(255,255,255,1);
            line-height:0.48rem;
            margin-left: 0.36rem;
        }
    }
    .bq-content-list{
        padding: 0 0.3rem;
        font-size:0.3rem;
        li{
            height: 0.88rem;
            padding: 0.23rem 0;
            box-sizing: border-box;
            color:rgba(153,153,153,1);
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            p:last-child{
                color: #3D3D3D;
            }
            .bq-select{
                display: flex;
                display: -webkit-flex;
                p{
                    color:rgba(102,102,102,1);
                }
                .select-style{
                    width: 0.3rem;
                    padding: 0.06rem 0;
                    margin-left: 0.1rem;
                    img{
                        height: 0.3rem;
                        display: block;
                    }
                }
            }
        }
    }
    .bq-zh-list{
        padding: 0.1rem 0.3rem 0.3rem;
        ul{
            padding: 0.22rem 0.2rem 0.36rem 0.3rem;
            font-size:0.3rem;
            background:rgba(241,248,254,1);
            border-radius:0.06rem;
            margin-bottom: 0.2rem;
            li{
                padding: 0.12rem 0;
                display: flex;
                display: -webkit-flex;
                justify-content: space-between;
                color:rgba(153,153,153,1);
                p:last-child{
                   color:rgba(61,61,61,1); 
                }
                .bq-bl{
                    display: flex;
                    display: -webkit-flex;
                    input{
                        border-bottom: 1px solid #CDCDCD;
                        height: 0.5rem;
                        display: block;
                        text-align: right;
                        background-color: transparent;
                        padding-right: 0.12rem;
                        width: 1.3rem;
                        color:rgba(0,108,183,1);
                        font-size:0.32rem;
                    }
                }
                .delect-style{
                    width: 0.4rem;
                    img{
                        width: 0.4rem;
                        display: block;
                    }
                }
            }
            li:first-child{
                color:rgba(61,61,61,1);
            }
        }
        ul:last-child{
            margin-bottom: 0;
        }
    }
}
.bq-submit{
    width: 100%;
    height: 0.92rem;
    
    .bq-submit-content{
        display: flex;
        display: -webkit-flex;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        z-index: 9;
        .bq-submit-left{
            padding: 0.25rem 0.3rem;
            display: flex;
            display: -webkit-flex;
            width: 2.5rem;
            div{
                width: 0.42rem;
                img{
                    width: 0.42rem;
                    display: block;
                }
            }
            p{
                line-height:0.45rem;
                color:rgba(102,102,102,1);
                font-size:0.32rem;
                margin-left: 0.26rem;
            }
        }
        .bq-submit-right{
            padding: 0.23rem 0;
            text-align: center;
            font-size:0.34rem;
            font-family:PingFangSC-Regular;
            color:rgba(255,255,255,1);
            background:rgba(0,174,77,1);
            flex: 1;
        }
    }
}
//成功页面样式
.success-header{
    background: #fff;
    img{
        width: 100%;
        display: block;
    }
}
.success-list{
    
    ul{
        background: #fff;
        font-size: 0.28rem;
        color:rgba(153,153,153,1);
        line-height:0.4rem;
        margin-bottom: 0.16rem;
        li{
            display: flex;
            justify-content: space-between;
            padding: 0.2rem 0.3rem 0.23rem;
            p.title-p{
                color:rgba(0,174,77,1);
            }
        }
        .success-li-content{
            .success-li-number{
                line-height:0.8rem;
                background:rgba(0,173,220,1);
                border-radius:0.1rem;
                font-size:0.28rem;
                font-family:SourceHanSansCN-Regular;
                color:rgba(255,255,255,1);
                padding: 0 0.3rem 0 0.19rem;
                display: flex;
                display: -webkit-flex;
                justify-content: space-between;
                div.toup-icon{
                    width: 0.2rem;
                }
                .to-down-icon{
                    transform: rotateZ(180deg);
                }
            }
            .success-pw-countent{
                font-size:0.26rem;
                font-family:SourceHanSansCN-Regular;
                color:rgba(57,57,60,1);
                margin-top: 0.23rem;
                text-indent: 2em;
            }
        }
    }
    ul.success-style{
        li{
            p:last-child{
                span{
                    color:rgba(0,174,77,1);
                    margin-left: 0.1rem;
                }
            }
        }
    }
    li.fail-style{
        p.title-p{
            color:rgba(255,0,0,1);
        }
    }
}
.success-list-two{
    
    ul{
        background: #fff;
        font-size: 0.28rem;
        color:rgba(153,153,153,1);
        line-height:0.4rem;
        margin-bottom: 0.16rem;
        li{
            display: block;
            padding: 0.2rem 0.3rem 0.23rem;
            p.title-p{
                color:rgba(0,174,77,1);
            }
        }
        .success-li-content{
            .success-li-number{
                line-height:0.8rem;
                background:rgba(0,173,220,1);
                border-radius:0.1rem;
                font-size:0.28rem;
                font-family:SourceHanSansCN-Regular;
                color:rgba(255,255,255,1);
                padding: 0 0.3rem 0 0.19rem;
                display: flex;
                display: -webkit-flex;
                justify-content: space-between;
                div.toup-icon{
                    width: 0.2rem;
                }
                .to-down-icon{
                    transform: rotateZ(180deg);
                }
            }
            .success-pw-countent{
                font-size:0.26rem;
                font-family:SourceHanSansCN-Regular;
                color:rgba(57,57,60,1);
                margin-top: 0.23rem;
                text-indent: 2em;
            }
        }
    }
    ul.success-style{
        li{
            p:last-child{
                span{
                    color:rgba(0,174,77,1);
                    margin-left: 0.1rem;
                }
            }
        }
    }
    li.fail-style{
        p.title-p{
            color:rgba(255,0,0,1);
        }
    }
}
.success-btn{
    padding: 0.4rem 0.3rem;
    font-size: 0;
    button{
        width:6.9rem;
        height:0.92rem;
        background:rgba(0,174,77,1);
        border-radius:0.1rem;
        font-size:0.32rem;
        color:rgba(255,255,255,1);
    }
}

//红利页面样式
.hl-box-style{
    ul{
        li{
            padding: 0.3rem 0 0.3rem 0.3rem;
            .bq-content{
                flex: 1;
                .bq-content-one{
                    padding: 0 0 0.2rem 0;
                }
                .bq-content-two{
                    margin-top: 0.3rem;
                    width: auto;
                }
                .bq-content-two:last-child{
                    margin-top: 0.2rem;
                }
            }
        }
    }
}

//结束假期页面
.end-box{
    font-size:0.3rem;
    color:rgba(153,153,153,1);
    line-height:0.42rem;
    background: whitesmoke;
    ul{
        margin-bottom: 0.2rem;
        background: #fff;
        li{
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            p{
                button{
                    width:1.42rem;
                    height:0.6rem;
                    border-radius:0.08rem;
                    border:1px solid rgba(0,108,183,1);
                    color:rgba(0,108,183,1);
                    background-color: #fff;
                    font-size:0.28rem;
                }
            }
        }
        li:last-child{
            padding: 0.2rem 0.3rem;
        }
    }
}
//结束假期页面
.end-box-two{
    .bq-title{
        .bq-title-font{
            margin-left: 0;
        }
    }
    .success-list{
      ul{
          padding: 0 0.3rem;
        li{
            padding: 0.23rem 0;
            font-size:0.3rem;
            color:rgba(153,153,153,1);
            line-height:0.42rem;
            p:last-child{
                color:rgba(61,61,61,1);
            }
            .bank-phone-no{
                width: 2.6rem;
                border-bottom: 1px solid #CDCDCD;
                input{
                    font-size: 0.3rem;
                    font-family: PingFangSC-Regular;
                    color: rgba(0,108,183,1);
                    line-height: 0.42rem;
                    text-align: right;
                    width: 100%;
                }
            }
        }  
      }
    } 
    .end-min-title{
            background: whitesmoke;
          padding: 0.16rem 0.3rem;
          display: flex;
          display: -webkit-flex;
          .end-shu{
            width:3px;
            height:0.3rem;
            background:rgba(224,224,224,1);
            margin-top: 0.05rem;
            margin-right: 0.14rem;
          }
          p{
              font-size:0.28rem;
            color:rgba(142,148,157,1);
            line-height:0.4rem;
          }
      }   
}
//逾期未支付
.bf-style{
    background: whitesmoke;
    ul{
        margin-bottom: 0.21rem;
        background: #fff;
        li.new-bf-style{
            font-size:0.3rem;
            padding: 0.23rem 0.3rem 0.23rem 0;
            margin-left: 0.3rem;
            font-family:PingFangSC-Regular;
            color:rgba(153,153,153,1);
            line-height:0.42rem;
            justify-content: space-between;
            .bq-select{
                display: flex;
                display: -webkit-flex;
                color: rgb(0, 108, 183);
                .select-style{
                        width: 0.3rem;
                        padding: 0.06rem 0;
                        margin-left: 0.1rem;
                        img{
                            height: 0.3rem;
                            display: block;
                        }
                }
            }
        }
    }
}

//没有保单的页面
.nh-img{
    padding: 1.53rem 2.61rem 0.45rem 2.37rem;
}
.nh-font{
    font-size:0.28rem;
    font-family:PingFangSC-Regular;
    color:rgba(102,102,102,1);
    line-height:0.4rem;
    text-align: center;
}

//身份证上传页面样式
.uc-box{
    padding: 0.5rem 0.3rem 0.4rem;
    .uc-img{
        width: 4.77rem;
        margin: 0 auto;
    }
    .uc-img:first-child{
        margin-bottom: 0.43rem;
    }
    .uc-font{
        font-size:0.3rem;
        font-family:PingFangSC-Regular;
        font-weight:bold;
        color:rgba(0,173,220,1);
        margin-top: 0.28rem;
    }
    .uc-img-list{
        margin-top: 0.2rem;
    }
    .uc-tips{
        margin-top: 0.2rem;
        font-size:0.24rem;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(0,173,220,1);
        span{
            color: #FF0000;
        }
    }
}
.uc-btn-list{
    display: flex;
    display: -webkit-flex;
    p:last-child{
        margin-left: 0.6rem;
    }
}

//0.5px线
.line{
    position: relative;
}
.line::before{
        content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #dddddd;
    color: #dddddd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
.line-down{
    position: relative;
}
.line-down::before{
        content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #dddddd;
    color: #dddddd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
.line-right{
    position: relative;
}
.line-right::before{
        content: " ";
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    border-right: 1px solid #dddddd;
    color: #dddddd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    z-index: 2;
    height: 100%;
}
.line-down-two{
    position: relative;
}
.line-down-two::before{
        content: " ";
    position: absolute;
    left: 0.3rem;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #dddddd;
    color: #dddddd;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}
.tips-style{
    position: fixed;
    padding: 0 0.3rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
    top: 3.61rem;
    z-index: 99;
    p{
        background:rgba(0,0,0,0.7975);
        border-radius:11px;
        font-size:0.3rem;
        padding: 0.2rem;
        font-family:PingFangSC-Regular;
        color:rgba(255,255,255,1);
        line-height:0.42rem;
        margin: 0 auto;
        display: inline-block;
    }
}
//提示样式2
.tips-two{
    position: fixed;
    // padding: 0 0.3rem;
    background:rgba(0,0,0,0.3972);
    z-index: 9;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
    top: 0;
    left: 0;
    .tips-content{
        position: fixed;
        width:5.4rem;
        background:rgba(255,255,255,1);
        border-radius:0.12rem;
        text-align: center;
        overflow: hidden;
        top: 2.94rem;
        left: 1.05rem;
        .tips-font{
            padding: 0.3rem;
            .p-one{
                font-size:0.32rem;
                font-family:PingFangSC-Medium;
                color:rgba(57,57,60,1);
                line-height:0.45rem;
            }
            .p-two{
                font-size:0.3rem;
                font-family:PingFangSC-Regular;
                color:rgba(57,57,60,1);
                line-height:0.46rem;
            }
        }
        .tips-btn{
            display: flex;
            display: -webkit-flex;
            div{
                flex: 1;
                button{
                    width: 100%;
                    height: 0.92rem;
                    background-color: #fff;
                    font-size:0.32rem;
                }
            }
        }
    }
    .tips-phone{
        position: fixed;
        top: 2.92rem;
        width: 6.82rem;
        left: 0.34rem;
        background-color: #fff;
        border-radius:0.12rem;
        overflow: hidden;
        header{
            padding: 0.26rem 0;
            text-align: center;
            font-size:0.32rem;
            font-family:PingFangSC-Medium;
            color:rgba(57,57,60,1);
            line-height:0.46rem;
        }
        .tips-number{
            padding: 0.4rem 0.34rem;
            .tips-phone-top{
                display: flex;
                display: -webkit-flex;
                justify-content: space-between;
                div{
                    input{
                        width:3.6rem;
                        height:0.72rem;
                        border-radius:2px;
                        border:1px solid rgba(183,188,192,1);
                        font-size:0.28rem;
                        font-family:PingFangSC-Regular;
                        line-height:0.4rem;
                        padding: 0.16rem 0.2rem;
                        box-sizing: border-box;
                    }
                    button{
                        width:2.43rem;
                        height:0.72rem;
                        background:rgba(0,174,77,1);
                        border-radius:0.06rem;
                        font-size:0.28rem;
                        font-family:PingFangSC-Regular;
                        color:rgba(255,255,255,1);
                        line-height:0.4rem;
                    }
                    button.disable-style{
                        background:rgba(153,153,153,1);
                    }
                }
            }
            .tips-phone-down{
                font-size:0.26rem;
                font-family:PingFangSC-Regular;
                color:rgba(148,148,148,1);
                line-height:0.37rem;
                margin-top: 0.33rem;
                text-align: left;
            }
        }
        .tips-btn{
            display: flex;
            display: -webkit-flex;
            div{
                flex: 1;
                button{
                    width: 100%;
                    height: 0.92rem;
                    background-color: #fff;
                    font-size:0.32rem;
                }
            }
        }
        .tips-phone-btn{
            height: 0.92rem;
            button{
                width: 100%;
                height: 100%;
                font-size:0.32rem;
                font-family:PingFangSC-Regular;
                color:rgba(57,57,60,1);
                line-height:0.46rem;
                background-color: #fff;
            }
        }
    }
}

//点击效果
.style-click{
    position: relative;
}
.style-click::after{
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0;
}
.style-click:active::after{
    opacity: 0.2;
}

//提示列表样式
.tips-list-style{
    padding: 0.1rem 0.3rem 0.3rem;
    header{
        font-size:0.26rem;
        color:rgba(0,108,183,1);
        line-height:0.37rem;
        margin-bottom: 0.1rem
    }
    ul{
        li{
            display: flex;
            display: -webkit-flex;
            font-size:0.24rem;
            color:rgba(148,148,148,1);
            line-height:0.33rem;
            text-align: justify;
            margin-bottom: 0.06rem;
            p:first-child{
                width:0.24rem;
                margin-right: 0.05rem;
            }
        }
    }
}


//选择框的样式
.select-list{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background:rgba(0,0,0,0.3972);
    z-index: 9;
    .select-list-box{
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: #fff;
        .select-list-title{
            height: 0.96rem;
            padding: 0.25rem 0.3rem;
            border:1px solid rgba(217,217,217,1);
            box-sizing: border-box;
            width: 100%;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            .select-list-img{
                height: 0.32rem;
                padding: 0.065rem;
                img{
                    height: 0.32rem;
                    display: block;
                }
            }
            p{
                font-size:0.32rem;
                font-family:PingFangSC-Medium;
                color:rgba(61,61,61,1);
                line-height:0.45rem;
            }
            p:last-child{
                font-family:PingFangSC-Regular;
                color:rgba(0,108,183,1);
            }
        }
        .select-list-content{
            padding: 0 0.3rem;
            max-height: 4.4rem;
            overflow-y: auto;
            li{
                padding: 0.2rem 0;
                display: flex;
                display: -webkit-flex;
                justify-content: space-between;
                p{
                    font-size:0.32rem;
                    color:rgba(102,102,102,1);
                    line-height:0.45rem;
                }
                div{
                    width: 0.4rem;
                    height: 0.28rem;
                    padding: 0.085rem 0;
                    box-sizing: border-box;
                    img{
                        width: 0.4rem;
                        display: block;
                    }
                }
            }
        }
    }
}
.error-style{
    background-color: rgba(0,0,0,0.3972);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    .error-content{
        position: fixed;
        left: 1.21rem;
        top: 2.55rem;
        background-color: #fff;
        width: 5.08rem;
        border-radius: 7px;
        .error-font{
            font-size:0.3rem;
            font-family:PingFangSC-Medium;
            color:rgba(57,57,60,1);
            line-height:0.46rem;
            text-align: center;
            margin-top: 0.48rem;
        }
        .error-btn{
            padding: 0.32rem 0.44rem 0.45rem;
            button{
                width:4.2rem;
                height:0.8rem;
                background:rgba(0,174,77,1);
                border-radius:0.4rem;
                font-size:0.32rem;
                font-family:PingFangSC-Regular;
                color:rgba(255,255,255,1);
                display: block;
            }
        }
    }
}

//Toast动画效果
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}