<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no,email=no,adress=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>中国太平95589</title>
    <link rel="stylesheet" href="./css/rest.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/1rem100px.js"></script>
    <script src="./js/vue.min.js"></script>
</head>

<body>
    <div id="bqContent">
        <section class="bq-list-box" v-for="(item, index) in contentLists" :key="index">
            <header class="bq-title">
                <div class="bq-title-img" @click="selectBd(index)">
                    <img src="./img/selectIconOne.svg" v-if="item.isSelect">
                    <img src="./img/checked.png" v-else>
                </div>
                <article class="bq-title-font">
                    <p>保单号：
                        <span v-text="item.bdNo"></span>
                    </p>
                </article>
            </header>
            <ul class="bq-content-list">

                <li>
                    <p>险种序号</p>
                    <p v-text="item.listNo"></p>
                </li>
                <li>
                    <p>险种名称</p>
                    <p v-text="item.listName"></p>
                </li>
                <li>
                    <p>险种状态</p>
                    <p v-text="item.listZt"></p>
                </li>
                <li>
                    <p>下期缴费日</p>
                    <p v-text="item.listNextData"></p>
                </li>
                <li>
                    <p>预约终止前责任终止日期</p>
                    <p v-text="item.hlStyle"></p>
                </li>
                <li>
                    <p>预约终止后责任终止日期</p>
                    <p v-text="item.hlStyleTwo"></p>
                </li>
            </ul>

        </section>
        <section class="bq-submit">
            <div class="bq-submit-content">
                <div class="bq-submit-left" @click="allSelect">
                    <div>
                        <img src="./img/selectIconOne.svg" v-if="selectAll">
                        <img src="./img/checked.png" v-else>
                    </div>
                    <p>全选</p>
                </div>
                <div class="bq-submit-right style-click" @click="submitFn">
                    <p>确认变更</p>
                </div>
            </div>
        </section>
        <transition name="fade">
            <div class="tips-style" v-if="isShowTips">
                <p v-text="tipsContent"></p>
            </div>
        </transition>
        <section class="tips-two" style="display: none" v-show="isShowtipsThree">
            <div class="tips-phone">
                <header class="line-down">短信验证</header>
                <div class="tips-number line-down">
                    <div class="tips-phone-top">
                        <div>
                            <input v-model="sendCodeCount" type="text" placeholder="请输入验证码">
                        </div>
                        <div>
                            <button class="style-click" :class="isDisabledSend? 'disable-style' : ''" @click="sendCode" :disabled="isDisabledSend">{{ sendCodeData }}</button>
                        </div>
                    </div>
                    <p class="tips-phone-down">请在300秒内输入您收到的短信验证码，若未收到短信，请点击“重新发送验证码”。</p>
                </div>
                <div class="tips-phone-btn">
                    <button class="style-click" @click="submitContent">确定</button>
                </div>
            </div>
        </section>
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#bqContent',
        data: {
            isShowTips: false,
            sendCodeCount: '', //验证码
            sendCodeData: '获取短信验证码',
            isDisabledSend: false,
            selectAll: true,
            tipsContent: '',
            isShowyesOrNo: false,  //提交显示
            newAddZhList: false, //新增账户是否显示
            isShowtipsThree: false,
            numOne: '',
            numTwo: '',
            selectListData: [
                {
                    zhName: '累积生息',
                    isSelectCh: false,
                }, {
                    zhName: '抵交保费',
                    isSelectCh: false,
                }, {
                    zhName: '现金领取',
                    isSelectCh: false,
                }
            ],
            contentLists: [
                {
                    isSelect: true,
                    bdNo: '006762144694003',
                    listNo: '7289',
                    listName: '太平福禄康瑞终身重大疾病保险',
                    listZt: '有效',
                    listNextData: '2017-09-10',
                    hlStyle: '2018-09-10',
                    hlStyleTwo: '2019-09-10',
                }, {
                    isSelect: true,
                    bdNo: '006762144694003',
                    listNo: '7289',
                    listName: '太平福禄康瑞终身重大疾病保险',
                    listZt: '有效',
                    listNextData: '2017-09-10',
                    hlStyle: '2018-09-10',
                    hlStyleTwo: '2019-09-10',
                }, {
                    isSelect: true,
                    bdNo: '006762144694003',
                    listNo: '7289',
                    listName: '太平福禄康瑞终身重大疾病保险',
                    listZt: '有效',
                    listNextData: '2017-09-10',
                    hlStyle: '2018-09-10',
                    hlStyleTwo: '2019-09-10',
                }
            ]
        },
        mounted() {

        },
        methods: {
            //Toast方法
            showTipsFn() {
                this.isShowTips = true;
                setTimeout(() => {
                    this.isShowTips = false
                }, 1000)
            },
            //发送验证码
            sendCode() {

                this.isDisabledSend = true
                this.sendCodeData = '300秒后重新发送'
                this.miuFnOne(300);

                setTimeout(() => {
                    this.sendCodeData = "重新发送";
                    this.isDisabledSend = false;
                }, 300000);
            },
            //验证码倒计时函数
            miuFnOne(miu) {
                let miuFn = setTimeout(() => {
                    miu--;
                    this.sendCodeData = miu + '秒后重新发送';
                    if (miu == 1) {
                        return false;
                    }
                    this.miuFnOne(miu);
                }, 1000);
            },
            //提交方法
            submitContent() {
                console.log(this.sendCodeCount)
                if (this.sendCodeCount == '') {
                    this.tipsContent = '验证码不能为空！！！'
                    this.showTipsFn()
                    return false
                }
                window.location.href = './successPage.html'
            },
            submitFn() {
                var v=false;
                for (let item of this.contentLists) {
                    if (item.isSelect==false) {
                        this.isShowtipsThree = true
                        v=true
                        break;
                    }
                   
                }
               if(v==false){
                   this.tipsContent = '对不起，请选择保单做预约终止'
                   this.showTipsFn()
               }
            },
            closeTipsFn() {
                this.isShowyesOrNo = false
            },
            //选择保单号
            selectBd(index) {
                this.contentLists[index].isSelect = !this.contentLists[index].isSelect
                for (let item of this.contentLists) {
                    if (item.isSelect) {
                        this.selectAll = true
                        break;
                    } else {
                        this.selectAll = false
                    }
                }

            },
            //关闭新增账户
            closeZh() {
                this.newAddZhList = false
            },
            allSelect() {
                this.selectAll = !this.selectAll
                if (this.selectAll) {
                    for (let item of this.contentLists) {
                        item.isSelect = true
                    }
                } else {
                    for (let item of this.contentLists) {
                        item.isSelect = false
                    }
                }
            },
        }
    })
</script>
<script>
        (function () {
            if (window.BOOMR && window.BOOMR.version) { return; }
            var dom, doc, where, iframe = document.createElement('iframe'), win = window;

            function boomerangSaveLoadTime(e) {
                win.BOOMR_onload = (e && e.timeStamp) || new Date().getTime();
            }
            if (win.addEventListener) {
                win.addEventListener("load", boomerangSaveLoadTime, false);
            } else if (win.attachEvent) {
                win.attachEvent("onload", boomerangSaveLoadTime);
            }

            iframe.src = "javascript:false";
            iframe.title = ""; iframe.role = "presentation";
            (iframe.frameElement || iframe).style.cssText = "width:0;height:0;border:0;display:none;";
            where = document.getElementsByTagName('script')[0];
            where.parentNode.insertBefore(iframe, where);

            try {
                doc = iframe.contentWindow.document;
            } catch (e) {
                dom = document.domain;
                iframe.src = "javascript:var d=document.open();d.domain='" + dom + "';void(0);";
                doc = iframe.contentWindow.document;
            }
            doc.open()._l = function () {
                var js = this.createElement("script");
                if (dom) this.domain = dom;
                js.id = "boomr-if-as";
                js.src = '//c.go-mpulse.net/boomerang/' +
                    '69ZP8-R47KK-V6XCQ-5HV8P-X3EQF';
                BOOMR_lstart = new Date().getTime();
                this.body.appendChild(js);
            };
            doc.write('<body onload="document._l();">');
            doc.close();
        })();
</script>

</html>